<!DOCTYPE html>
<html>
<head>
	<title>Ocean Pollutant Classifier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <style>
    table {
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      padding: 8px;
      white-space: nowrap;
      border: 1px solid black;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    td {
      vertical-align: top;
      padding: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td:not(:last-child) {
      border-right: 1px solid black;
    }
  </style>
</head>
<body style="background-image: url('{{ url_for('static', filename='images/ocean.jpg') }}')">
	<div class="container">
        <h1 class="jumbotron bg-primary">Ocean Pollutant Classifier</h1>
        <br><br>
    <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Upload Your Image :</label>
            <div class="col-sm-10">          
              <input type="file" class="form-control" placeholder="Hours Studied" name="my_image" id="pwd">
          </div>
        </div>

        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>

    </form>
        
		{% if class_label  %}
			<img src="{{img_path}}" height="400px" width="400px">
			<h2> Your Prediction: <i>{{class_label}}</i></h2>
		{% endif %}
            
         
   
    <div class="wrapper" style="margin: 0 auto">
      <table>
        <thead>
          <tr style="background-color: #ddd;">
            <th>Similar Images</th>
            <th>Metadata</th>
            <th>Similarity Score</th>

         </tr>
        </thead>
        <tbody>
          {% if sim_score %}
          {% if base64_strings %}
          {% for i in range(base64_strings|length) %}
          <tr style="background-color: {{ 'white' if i%2==0 else '#f2f2f2' }};">
            <td class="image">
              <div class="image-container">
                <h2>Image {{ i+1 }}</h2>
                <img src="data:image/png;base64,{{ base64_strings[i] }}" />
              </div>
            </td>

            <td class="text">
              <div class="text">
                <h2>Metadata {{ i+1 }}</h2>
                <ul>
                  <li><b>Location:</b> {{ metadata[i]['location'] }}</li>
                  <li><b>Date:</b> {{ metadata[i]['Date'] }}</li>
                  <li><b>LatLong:</b> {{ metadata[i]['latlong'] }}</li>
                  <li><b>Satellite:</b> {{ metadata[i]['Satellite'] }}</li>
                </ul>
              </div>
            </td>
            
            <td class="score">
              <div class="score">
                <h2>Similarity Score of {{ i+1 }}:</h2>
                  <h3>{{ sim_score[i] }}</h3>
              </div>
            </td>

           
          </tr>
          {% endfor %}
          {% endif %}
          {% endif %}
        </tbody>
      </table>
    </div>

       
</div>
</body>
</html>
